/out
/.idea
.DS_Store
/build/
/dist
/web/
/src/main/webapp/test
/src/main/webapp/static
/src/main/webapp/map
/src/main/webapp/WEB-INF/views/*/**
/src/main/webapp/WEB-INF/server.conf
/src/main/webapp/WEB-INF/fis.properties
/src/main/webapp/WEB-INF/config
/target/
/fis-velocity-tools.iml
