#extends("block.vm")

#block("body_content")
<h1>Hello Demo</h1>

#script()
// var widgetA = require("asyncTest:widget/widgetA/widgetA.js");

require.async("asyncTest:widget/widgetB/widgetB.js", function(api) {
api.sayHelloWorld();
});
#end ## end script
#end ## end block

#require("asyncTest:page/index.tpl")
#end